@tailwind base;
@tailwind components;
@tailwind utilities;

.form-item {
  @apply px-3 py-3 rounded-lg;
}

.form-container {
  @apply bg-gray mt-16 h-max rounded-xl p-4 flex gap-4 items-center justify-between flex-wrap mb-12;
}
.form-thin {
  padding: 0.4rem 1rem;
  margin: 0.2rem;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
